.photo-grid{
    max-width: 1184px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(171px, 127px));
    grid-template-rows: auto;
    gap: 50px;
    margin: 100px auto 92px;
    justify-content: center;
}

@media screen and (max-width: 1200px) {
    .photo-grid{
        max-width: 928px;
    }    
}

@media screen and (max-width: 968px) {
    .photo-grid{
        max-width: 720px;
        gap: 50px;
        margin: 30px auto 88px;
    }    
}

@media screen and (max-width: 740px) {
    .photo-grid{
        max-width: 288px;
        gap: 20px;
        margin: 30px auto 64px;
    }    
}