.contacts__list{
    max-width: 690px;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
}

@media screen and (max-width: 896px) {
    .contacts__list{
        max-width: 100%;
    }    
}